body {
  font-size: 17px;
}

#nameform {
  margin-bottom: 20px;
}

.require {
  margin-left: 10px;
  background-color: red;
  padding: 2px;
  color: white;
  border-radius: 5px;
}

.error {
  color: red;
}
